<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="site-head">
    <meta charset="utf-8"></meta>
    <meta http-equiv="Content-Type" content="text/html"></meta>
    <link rel="stylesheet" type="text/css" media="all" href="../../css/stsm.css" th:href="@{/css/stsm.css}"/>
    <link rel="icon" href="../static/images/favicon.ico" th:href="@{/images/favicon.ico}"/>
    <!--<script src="../static/js/jquery-3.1.0.min.js" th:src="@{/js/jquery-3.1.0.min.js}"></script>
    <script src="../static/js/blog-scripts.js" th:src="@{/js/blog-scripts.js}"></script> -->
    <!-- <meta th:include="this :: head" th:remove="tag"/> -->
</head>
<body>
<header th:fragment="site-header">
    <header>
        <a href="index.html" th:href="@{/index}"><img src="../static/images/logotipo_400.png"
                                                      style="width:100px;height:60px;"
                                                      th:src="@{/images/logotipo_400.png}"
                                                      th:style="'width:150px;'"/></a>
        <a href="index.html" th:href="@{/index}">Inicio</a>
        <a href="enviaDatos.html" th:href="@{/envio/archivoDatos}">Datos</a>
        <a href="enviaCorreo.html" th:href="@{/envio/enviaCorreo}">Envía correo</a>
        <div id="logged-in-info"><span>Hola, <b>(user)</b></span>
            <form method="post" th:action="@{/usuario/logout}">
                <input type="submit" value="Logout"/>
            </form>
        </div>
    </header>
    <!-- /* Agrega el sistema de mensajes en esta parte */
    <ul id="messages" th:with="notifyMessages=${session[T(uam.admision.controlguias.service.NotificationServiceImpl).NOTIFY_MSG_SESSION_KEY]}">
        <li th:each="msg : ${notifyMessages}" th:text="${msg.text}"
            th:class="${#strings.toLowerCase(msg.type)}">
        </li>
         <span th:if="${notifyMessages}" th:remove="all" th:text="${session.remove(

          T(uam.admision.controlguias.service.NotificationServiceImpl).NOTIFY_MSG_SESSION_KEY)}"></span> -->
</header>

<h1>Bienvenido</h1>
<p>Sistema de control de guías de estudio.</p>
<footer th:fragment="site-footer">
    &copy; UAM Departamento de Admisión, 2018
</footer>
</body>
</html>